body{
    background: black;
}
.ac{
    color: bisque;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

#ac{
    color: blue;
    font-family: sans-serif;
    line-height: 20px;
    word-spacing: 20px;
    letter-spacing: 6px;
    align-items: center;
}

.a1{
    text-align: center;
}

a{
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    font-size: 40px;
    color: cadetblue;
    border: 1px solid white;
    border-radius: 40px;
    opacity: 0.6;
    transition: 1s;
}

a:hover{
    opacity: 1;
    background-color: aqua;
    color: black;
    border: 1px solid black;
}