body{
	margin:0;
	padding:0;
	display:flex;
	
}

.idk{
	height:108px;
	width:108px;
	background:black;
	color:#00ffdc;
	margin:20px;
	border:20px groove blue;
	font-size:30px;
	justify-content:center;
	padding:30px;
	box-sizing:border-box;
}

.idk1{
	border:20px solid blue;
}
.idk2{
	border:20px dotted blue;
}
.idk3{
	border:20px dashed blue;
}
.idk4{
	border:20px groove blue;
}
.idk5{
	border:20px inset blue;
}
